/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* --my-primary-color: lightblue; */
  --my-primary-color: hsl(194.7, 53.3%, 79%);
  --my-primary-variant-one: hsl(204.7, 53.3%, 79%);
  --my-primary-variant-two: hsl(214.7, 53.3%, 79%);
  --my-primary-variant-three: hsl(224.7, 53.3%, 79%);
  --my-primary-variant-four: hsl(218.7, 53.3%, 79%);
  --my-primary-variant-five: hsl(214.7, 53.3%, 79%);
  --my-primary-variant-six: hsl(204.7, 53.3%, 79%);
  --my-primary-variant-seven: hsl(194.7, 53.3%, 79%);
  --my-dark-color: #242424;
  background-color: var(--my-dark-color);
  color: rgba(255, 255, 255, 0.87);
  color-scheme: light dark;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: clamp(0.875rem, 4.8vw, 1.125rem);
  min-height: 100vh;
}

a {
  color: var(--my-primary-color);
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: var(--my-primary-color);
}

h1 {
  font-size: clamp(1rem, 12.8vw, 4rem);
  line-height: 1.1;
  margin: 0.5em 0;
  text-align: center;
}

button {
  background-color: #1a1a1a;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  padding: 2.88vw 5.76vw;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--my-primary-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto var(--my-primary-color);
}

legend {
  padding: 0 10px;
}

/* Container Classes */

.settings-container,
.main-container,
.col,
.row {
  align-items: center;
  display: flex;
  justify-content: center;
}

.main-container,
.col,
.k-stack-layout.k-hstack.k-justify-content-stretch.k-align-items-stretch.col {
  flex-direction: column;
}

.main-container {
  margin: auto;
  max-width: 650px;
  width: 90%;
}

.user-interface.col {
  margin-bottom: 24px;
}

.user-interface.col.settings-open {
  filter: opacity(0.03);
}

.settings-container {
  bottom: 0;
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
}

.dashboard-player-and-user-selections-container.col,
.user-interface.col {
  gap: 40px;
  width: 100%;
}

.k-card.dashboard-card.k-card-vertical.row {
  flex-direction: row;
}

.notification-container {
  height: 0px;
}

/* Custom reused classes */

.user-select-inputs {
  align-items: center;
  flex-wrap: wrap;
  gap: clamp(10px, 2.66vw, 30px);
  justify-content: space-between;
  padding: 20px 6vw;
}

.user-select-inputs.row .k-label.row.centered-spaced-row {
  align-items: center;
  justify-content: space-between;
  max-width: 90px;
}

.interval-selection-section
  .user-select-inputs.row
  .k-label.row.centered-spaced-row,
.intervals-included-section
  .user-select-inputs.row
  .k-label.row.centered-spaced-row {
  width: 45%;
}

.transparent-btn,
.control-panel-button.show-answer-button.transparent-btn,
.control-panel-button.display-options-button.transparent-btn,
.intervals-and-directions-container
  .user-select-inputs.row
  .k-button.k-button-sm.k-button-solid.k-button-solid-base.k-rounded-md.select-unselect-all-btn {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .user-select-inputs {
    padding: 20px 3vw;
  }
}
