.user-selection-section {
  position: relative;
}

.k-fab.k-fab-solid.k-fab-md.k-pos-fixed.k-rounded-full.k-fab-solid-primary.k-bottom-end.user-selection-button {
  background-color: var(--my-primary-color);
  border-color: var(--my-primary-color);
  bottom: -22% !important;
  color: var(--my-dark-color);
  font-size: inherit;
  left: 30% !important;
  outline: var(--my-primary-color);
  padding: 1em 25%;
  position: absolute;
  right: 30% !important;
  max-height: 50px;
  max-width: 250px;
}

.k-disabled.k-fab-solid-primary.user-selection.button,
.k-fab-solid-primary.user-selection-button:disabled {
  opacity: 0.2;
}

.disabled-input {
  color: #444;
}

.k-radio.k-radio-md:checked {
  background-color: var(--my-primary-color);
  border-color: var(--my-primary-color);
  color: var(--my-dark-color);
}

@media screen and (min-width: 640px) {
  .k-fab.k-fab-solid.k-fab-md.k-pos-fixed.k-rounded-full.k-fab-solid-primary.k-bottom-end.user-selection-button {
    bottom: -30% !important;
  }
}
