.user-selection-section {
  margin-bottom: 100px;
  position: relative;
}

.k-fab.k-fab-solid.k-fab-md.k-pos-fixed.k-rounded-full.k-fab-solid-primary.k-bottom-end.user-selection-button {
  background-color: var(--my-primary-color);
  border-color: var(--my-primary-color);
  bottom: -50% !important;
  color: var(--my-dark-color);
  left: 30% !important;
  outline: var(--my-primary-color);
  padding: 16px 20%;
  position: absolute;
  right: 30% !important;
  max-height: 50px;
  max-width: 250px;
}

.radio-label {
  gap: 4px;
}

.disabled-input {
  color: #444;
}

.k-radio.k-radio-md:checked {
  background-color: var(--my-primary-color);
  border-color: var(--my-primary-color);
  color: var(--my-dark-color);
}

@media screen and (max-width: 540px) {
  .k-fab.k-fab-solid.k-fab-md.k-pos-fixed.k-rounded-full.k-fab-solid-primary.k-bottom-end.user-selection-button {
    bottom: -40% !important;
  }
}

@media screen and (max-width: 400px) {
  .k-fab.k-fab-solid.k-fab-md.k-pos-fixed.k-rounded-full.k-fab-solid-primary.k-bottom-end.user-selection-button {
    padding: 16px 23%;
  }
}

@media screen and (max-width: 350px) {
  .k-fab.k-fab-solid.k-fab-md.k-pos-fixed.k-rounded-full.k-fab-solid-primary.k-bottom-end.user-selection-button {
    bottom: -35% !important;
  }
}

@media screen and (max-width: 300px) {
  .k-fab.k-fab-solid.k-fab-md.k-pos-fixed.k-rounded-full.k-fab-solid-primary.k-bottom-end.user-selection-button {
    bottom: -30% !important;
    padding: 16px 25%;
  }
}
