.customize-intervals-section {
  width: 100%;
}

.intervals-and-directions-container .user-select-inputs.row {
  justify-content: space-between;
}

.intervals-and-directions-container .user-select-inputs.row .k-label {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.collapsable-options-container {
  position: absolute;
  transform: scaleY(0);
  transition: all 250ms ease-in;
}

.collapsable-options-container.open {
  transform: scaleY(100%);
}

.k-checkbox.k-checkbox-md.k-rounded-md:checked {
  background-color: var(--my-primary-color);
  border-color: var(--my-primary-color);
  color: var(--my-dark-color);
}

@media screen and (min-width: 1024px) {
  .intervals-and-directions-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 600px;
  }

  .intervals-included-section {
    width: 60%;
  }

  .directions-included-section {
    align-self: stretch;
  }

  .directions-included-section > .user-select-inputs {
    flex-direction: column;
  }
}
